<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/1.0.0/mdb.min.css">
    <link rel="stylesheet" href="/src/css/main.css">
    <meta name="og:site_name" content="한번 등록으로 매일 자동 자가진단">
    <meta property="og:title" content="E-Z 자동 자가진단">
    <meta property="og:description" content="By Tritium Networks">
    <meta name="theme-color" content="#4C566A">
    <meta property="og:image" content="https://hcs.trinets.xyz/src/img/secondary_pw_bg.jpg">
    <meta name="twitter:card" content="summary">
    <title>ez 자동 자가진단</title>
  </head>
  <body class="w-100 h-100 background">
    <div class="container foreground w-100 shadow p-0">
      <div class="text-center jumbotron p-5 text-white shadow">
        <h1>E-Z 자동 자가진단</h1>
        <h5>한번 등록으로 매일 자동 자가진단</h5>
      </div>

      <div class="container mt-5 p-5">
        <form method="POST" action="/api/disapply">
          <div class="row">
            <div class="col-6">
              <div class="form-outline mb-4">
                <input required type="text" name="studentName" id="studentName" class="form-control text-white" />
                <label class="form-label text-white" for="studentName">학생명</label>
              </div>
            </div>
            <div class="col-6">
              <div class="form-outline mb-4">
                <input required type="number" min=10101 name="birth" id="birth" class="form-control text-white" />
                <label class="form-label text-white" for="birth">생년월일 (6자)</label>
              </div>
            </div>
            <div class="col-12">
              <div class="form-outline mb-4">
                <input required type="tel" name="password" maxlength="4" id="password" class="form-control text-white" />
                <label class="form-label text-white" for="password">비밀번호 (4자)</label>
              </div>
            </div>
          </div>
          <button class="btn btn-danger text-white mb-4 mr-2" type="submit" value="checked">탈퇴</button>
          <a href="/" class="btn btn-nord text-white mb-4">돌아가기</a>
          <p class="text-white">비밀번호를 분실하신 경우 <a href="mailto:pmhstudio.pmh@gmail.com">여기</a>로 이메일을 보내주시면 확인후 탈퇴해 드립니다.</p>
        </form>
      </div>
    </div>

    <div class="mt-2 text-center text-white">
      제작: 2020. (칠곡)장곡중, 경북소프트웨어고. 박민혁 (문의: <a href="mailto:pmhstudio.pmh@gmail.com" class="text-danger text-decoration-underline">pmhstudio.pmh@gmail.com</a>)
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/1.0.0/mdb.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/src/js/disapply.js"></script>
  </body>
</html>
