<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/1.0.0/mdb.min.css">
    <link rel="stylesheet" href="/src/css/main.css">
    <meta name="og:site_name" content="한번 등록으로 매일 자동 자가진단">
    <meta property="og:title" content="E-Z 자동 자가진단">
    <meta property="og:description" content="By Tritium Networks">
    <meta name="theme-color" content="#4C566A">
    <meta property="og:image" content="https://hcs.trinets.xyz/src/img/secondary_pw_bg.jpg">
    <meta name="twitter:card" content="summary">
    <title>ez 자동 자가진단</title>
  </head>
  <body class="w-100 h-100 background">
    <div class="container foreground w-100 shadow p-0">
      <div class="text-center jumbotron p-5 text-white shadow">
        <h1>E-Z 자동 자가진단</h1>
        <h5>한번 등록으로 매일 자동 자가진단</h5>
      </div>

      <div class="container mt-5 p-3">
        <h2 class="text-center text-white mb-4">사용하실 메뉴를 선택해 주세요</h2>
        <div class="text-center mb-4">
          <div class="alert alert-danger hover-shadow text-center d-inline" role="alert">
            인터넷 익스플로러는 지원하지 않습니다.
          </div>
        </div>
        <div class="row">
          <div class="col-sm d-inline p-2">
            <a href="/apply" class="w-100 btn btn-nord text-center text-white p-5">
              <h3>가입</h3>
              <p>자동 자가진단 서비스를 가입합니다.</p>
            </a>
          </div>
          <div class="col-sm d-inline p-2">
            <a href="/disapply" class="w-100 btn btn-nord text-center text-white p-5">
              <h3>탈퇴</h3>
              <p>자동 자가진단 서비스를 탈퇴합니다</p>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-2 text-center text-white">
      제작: 2020. (칠곡)장곡중, 경북소프트웨어고. 박민혁 (문의: <a href="mailto:pmhstudio.pmh@gmail.com" class="text-danger text-decoration-underline">pmhstudio.pmh@gmail.com</a>)
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/1.0.0/mdb.min.js"></script>
  </body>
</html>
